<!-- SLIDER -->


<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="../assets/images/dan-gold-297904.jpg" alt="">
      <div class="caption right-align">
        <h3>Get your Shit Together</h3>
        <h5 class="text-lighten-1">Start doing more shit </h5>
      </div>
    </li>
    <li>
      <img src="../assets/images/glenn-carstens-peters-203007.jpg" alt="">
      <div class="caption right-align">
        <h3>Dont do enough shit??</h3>
        <h5 class="grey-text text-lighten-3">Use this app</h5>
      </div>
    </li>
    <li>
      <img src="../assets/images/carl-heyerdahl-181868.jpg" alt="">
      <div class="caption left-align">
        <h3>Noone will see this</h3>
        <h5 class="grey-text text-lighten-3">they will go straight to the login</h5>
      </div>
    </li>
  </ul>
</div>

<!-- -->





         <!-- IMAGE CARD -->
  <div class="row">
    <div class="col s12 m6 ">
        <div class="card-panel">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
      <div class="col s12 m6">
          <div class="card-panel">

            <span class="white-text">
              I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
            </span>
          </div>
        </div>
  <!-- <div class="col s12 m6">
    <div class="card small">
      <div class="card-image">
        <img src="../../assets/images/Telegram.jpg">

        <span class="card-title">Keep Track of Your Good Habits and the Bad Ones</span>

      </div>
      <div class="card-content">
        <p>Add your chores, your goals and your bad habits</p>
        <p>Keep Track and Organize Yourself</p>
      </div>
    </div> -->


  <!-- </div> -->


  <!-- <div class="col s12 m6">
    <div class="card small">
    <div class="card-image">
      <img src="../../assets/images/Telegram.jpg">

    <span class="card-title">Get Motivated by Imporving Your Stats</span>

    </div>
    <div class="card-content">
      <p>If you complete your desired task, get points!!</p>
      <p>Be pressured to avoid your bad habits, by losing points if you do them!</p>
    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    </div>
  </div> -->

</div>
